@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
.App {
  text-align: center;
  background-color: #121213;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.wordle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-family: 'Merriweather', serif;
  border-bottom: 1px solid rgb(76, 76, 76);
}
.grid{
  margin: 30px 0;
}

.row {
    display: flex;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 65px;
}

.keyboard li {
    font-size: 15px;
    display: inline-flex;
  height: 58px;
  width: 42px;
  transition: 0.3s;
  text-align: center;
    background-color: gray;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  border-radius: 5px;
  font-weight: bold;
  transition-delay: 2s;
}
.keyboard li:hover{
    cursor: pointer;
}
#enter,#back{
    width: 70px;
}
#back img{
    width: 25px;
}